{% extends 'SGFoBundle::layout.html.twig' %}
{% block title %}
Disclaimer
{% endblock title %}
{% block content %}
    <p>Disclaimer:</p>
    <br/>
    <p>This website was built by order of the Artevelde University College Ghent.<br/>
    Cookies are included in this website to improve your experience.<br/>
    Nothing you find (either visual or technical) on this domain and/or website may be copied, used, or tampered with without full consent and approval of its rightful authors [names below].</p>

    <p>Stefaan Christiaens and Tom Van humbeek:<br/>
    2012-2013<br/>
    <a href="http://www.arteveldehogeschool.be" title="Artevelde University College Ghent" target="_blank">&copy; Artevelde University College Ghent</a></p>
{%endblock content %}