{% extends 'SGFoBundle::layout.html.twig' %}

{% block title %}
About
{% endblock title %}

{% block content %}
    <p>About:</p>
    <br/>
    <p>Find something to do in your nearby surrounding!<br/>
    With SocialGEO you have the opportunity to find and create events all around the beautiful city of Ghent.<br/>
    Add, view, comment, approve and bookmark events so you can easily navigate your way through events you like. Also great for finding minds alike!<br/>
    Coming soon to other locations!</p>
{%endblock content %}